body.has-aside .container { padding-left: 120px }
body.has-aside .navbar .container { padding-left: 0px }
body.has-aside .navbar #navbar { padding-left: 10px }

.navbar-inner > span {
	border-right: 1px solid black;
	margin:0px;
	width: 219px;
}
.navbar-inner #navbar {
	border-left: 1px solid #333;
}

#content h1, #content h2 {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 0.9em;
	line-height: 1.9em;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
}

#content h1 { font-size: 21px; font-weight: bold; }
#content h2 { font-size: 17px; }

#content h1 a, #content h2 a { color: #333; }

#content h1 .btn-toolbar, #content h2 .btn-toolbar {
	margin-top: 0;
}

.jumbotron.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: white;
	position: relative;
	background: #000 url("../img/background.jpg") 0 -635px;
	background-size: 100%; }

.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead h2 {
	font-size: 90px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

.masthead p, .masthead h1, .masthead h2 {text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.5)}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.footer p { margin-bottom: 0px; }

.footer-links li:first-child {
	padding-left: 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}


.meta-bar {
	padding: 15px 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border-bottom: 1px solid #DDD;
}


#content {
	color: #5A5A5A;
}

#content { padding: 20px 0 10px; }

/** Tracks **/
.sidebar#tracks-collection { }
.sidebar#tracks-collection a.icon {
	height: 100%;
	padding: 0 0 0 5px;
	border: 1px solid transparent;
}
.sidebar#tracks-collection a.icon:first-child {
	margin-right: 5px;
}
.sidebar#tracks-collection a.icon:hover {
	background: #fafafa;
	text-decoration: none;
}
.sidebar#tracks-collection a.icon:first-child:hover {
	border-right: 1px solid #eee;
}
.sidebar#tracks-collection a.icon:last-child:hover {
	border-left: 1px solid #ddd;
}
.sidebar#tracks-collection a.icon i { margin-top: 5px; }

aside#sidebar {
	position: fixed;
	height: 100%;
	z-index: 1;
	background: #000;
	margin:0px;
	padding: 30px 0 0 0em;
	}
	aside#sidebar .sidebar-head {
		background-color: #1B1B1B;
		background-image: -moz-linear-gradient(top, #222, #111);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
		background-image: -webkit-linear-gradient(top, #222, #111);
		background-image: -o-linear-gradient(top, #222, #111);
		background-image: linear-gradient(to bottom, #222, #111);
		background-repeat: repeat-x;
		border-bottom: 1px solid #222;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
		height: 30px;
	}
	aside#sidebar .sidebar-head h2 {
		color: whiteSmoke;
		font-weight: normal;
		font-size: 1.2em;
		line-height: 1em;
		padding: 10px 0 0 15px;
		}

	aside#sidebar ul.children, aside#sidebar .children li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	aside#sidebar .children li {
		border-top: 1px solid #000;
		background-color: #1B1B1B;
		background-image: -moz-linear-gradient(top, #111, #000);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111), to(#000));
		background-image: -webkit-linear-gradient(top, #111, #000);
		background-image: -o-linear-gradient(top, #111, #000);
		background-image: linear-gradient(to bottom, #111, #000);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
	}
		aside#sidebar .children li > a {
			padding: 5px 0px 3px 15px;
			color: #aaa;
			font-size: 1em;
			display: block;
			float: left;
			width: 80%;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}
		/* @todo lafa; add gradient borders for nice fade effect */
		aside#sidebar .children li > a:hover {
			text-decoration: none;
			background: #000;
			border-top: 1px solid #222;
			border-bottom: 1px solid #222;
		}
		aside#sidebar .children li span.links {
			float: left;
		}
		aside#sidebar .children li span.links a {
			padding: 5px 5px 3px 5px;
			display: block;
			border-left: 1px solid #000;
		}
		aside#sidebar .children li span.links a:hover {
			border-left: 1px solid #1a1a1a;
		}
		aside#sidebar .children li span.links a > i {
			opacity: 0.5;
		}
		aside#sidebar .children li span.links a:hover > i {
			opacity: 1;
		}
		aside#sidebar .children .clearfix {
		}
