.jumbotron.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: white;
	position: relative;
	background: #000 url("../images/background.jpg") 0 -635px;
	background-size: 100%; }

.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead h2 {
	font-size: 90px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

.masthead p, .masthead h1, .masthead h2 {text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.5)}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.footer p { margin-bottom: 0px; }

.footer-links li:first-child {
	padding-left: 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}


.meta-bar {
	padding: 15px 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border-bottom: 1px solid #DDD;
}


#content {
	color: #5A5A5A;
}

#content { padding: 20px 0 10px; }

#content h1 {
	margin: 0.5em 0 0.2em;
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -1px;
}
