#content h1 {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
}

.jumbotron.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: white;
	position: relative;
	background: #000 url("../img/background.jpg") 0 -635px;
	background-size: 100%; }

.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead h2 {
	font-size: 90px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

.masthead p, .masthead h1, .masthead h2 {text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.5)}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.footer p { margin-bottom: 0px; }

.footer-links li:first-child {
	padding-left: 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}


.meta-bar {
	padding: 15px 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border-bottom: 1px solid #DDD;
}


#content {
	color: #5A5A5A;
}

#content { padding: 20px 0 10px; }

/** Tracks **/
.sidebar#tracks-collection { }
.sidebar#tracks-collection a.icon {
	height: 100%;
	padding: 0 0 0 5px;
	border: 1px solid transparent;
}
.sidebar#tracks-collection a.icon:first-child {
	margin-right: 5px;
}
.sidebar#tracks-collection a.icon:hover {
	background: #fafafa;
	text-decoration: none;
}
.sidebar#tracks-collection a.icon:first-child:hover {
	border-right: 1px solid #eee;
}
.sidebar#tracks-collection a.icon:last-child:hover {
	border-left: 1px solid #ddd;
}
.sidebar#tracks-collection a.icon i { margin-top: 5px; }
